<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Email</th>
        <th>Graduate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of personsList; let i=index;">
        <td class="person-number">{{ i+1 }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.address }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.isGraduate ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </table>
  <button
    (click)="showFilteredList()"
    *ngIf="showAll"
    class="btn btn-primary"
    placement="top"
    ngbTooltip="Shows only graduate persons">
      {{ showAll ? 'Show Graduates Only' : 'Show All' }}
  </button>
</div>
