<div>
  <h2>Employee Details</h2>
  <table mat-table [dataSource]="personsList" class="full-width mat-elevation-z8" *ngIf="personsList.length; else noData">
    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef> S No. </th>
      <td mat-cell *matCellDef="let person; let i=index;"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let person"> {{person.name}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let person"> {{person.age}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let person"> {{person.address}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let person"> {{person.email}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let person"> {{person.position}} </td>
    </ng-container>

    <ng-container matColumnDef="modify">
      <th mat-header-cell *matHeaderCellDef>Modify</th>
      <td mat-cell *matCellDef="let person; let i=index;" class="buttons-column">
        <button
          mat-raised-button
          color="accent"
          [disabled]="showEditableDetails"
          (click)="editDetails(person)"

          [appMouseEvents]="!showEditableDetails"
          defaultColor="#ff4081"

          placement="right"
          ngbTooltip="Edit employee details">
            Edit
        </button>
        <button
          mat-stroked-button
          [disabled]="showEditableDetails"
          color="warn"
          (click)="removeEmployee(i)">x</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex === row.id}"></tr>
  </table>

  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      [disabled]="showEditableDetails"
      (click)="editDetails()"
      placement="top"
      ngbTooltip="Add new employee details">
        Add
    </button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="showEditableDetails"
      (click)="refreshList()"
      placement="top"
      ngbTooltip="Refresh employee data to initial state">
        Refresh
    </button>
  </div>

  <div *ngIf="showEditableDetails">
    <app-edit-person
      [empDetails]="selectedPerson"
      (dataUpdated)="onDataUpdate($event)"
      ></app-edit-person>
  </div>
</div>

<ng-template #noData>
  <h2 class="no-data">Nothing to show!!</h2>
</ng-template>
