<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Email</th>
        <th *ngIf="showAll">Graduate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of filteredList; let i=index;">
        <td class="person-number">{{ i+1 }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.address }}</td>
        <td>{{ person.email }}</td>
        <td *ngIf="showAll">{{ person.isGraduate ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </table>
  <button
    (click)="showFilteredList()"
    appMouseEvents
    defaultColor="#007bff"
    class="btn btn-primary"
    placement="top"
    ngbTooltip="This color change is taking place with the help of custom directive!">
      {{ showAll ? 'Show Graduates Only' : 'Show All' }}
  </button>
</div>
