<div class="reactive-form-container mat-typography">
  <form action="" class="example-form" [formGroup]="empDetailsForm" (submit)="updateData()">
      <h3>{{ empDetails ? 'Edit' : 'Add'}} details for {{ empDetails ? empDetails.name : 'New Employee'}}</h3>
      <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="Employee Name" formControlName="name" />
        <mat-error>{{ getErrorMsg(name.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Age" formControlName="age" />
        <mat-error>{{ getErrorMsg(age.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="Address" formControlName="address" />
        <mat-error>{{ getErrorMsg(address.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="email" matInput placeholder="Email" formControlName="email" />
        <mat-error>{{ getErrorMsg(email.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Position" formControlName="position">
          <mat-option [value]="position" *ngFor="let position of positions">{{ position }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="this.empDetailsForm.invalid">{{ empDetails ? 'Done' : 'Add' }}</button>
        <button mat-raised-button color="warn" type="button" (click)="resetData()">Reset</button>
        <button mat-button color="primary" type="button" (click)="resetData('fillDefault')" *ngIf="!empDetails">Autofill</button>
      </div>
    </form>
  </div>
